/* Your code here */
.interests-bar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 2fr 1fr 0.75fr;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    height: 100px;

}

.interests-bar__image {
    width: 50px;
    padding: 10px;

}

.interests-bar__content {
    padding: 10px;
    align-self: flex-start;
    font-size: 11px;
}

.interests-bar__content::after {
    content: "";
    background-color: #e2e2e2;
    position: absolute;
    width: 5px;
    height: 50px;
    display: inline-block;
}

.interests-bar__headline {
    font-weight: bold;
    font-size: 11px;

}

.interests-bar__story {
    font-size: 11px;

}

.interests-bar__stocks {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    /* justify-content: stretch; */
}

.interests-bar__stock-price {
    display: flex;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

.interests-bar__price {
    color: green;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.interests-bar__big-text {
    font-weight: bold;
    font-size: 18px;
}
